<div style="font-size: 20px">
<ul class="nav nav-pills ">
  <li class="nav-item">
    <a class="nav-link " href="/General">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Health">Health</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Science">Science</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Sports">Sports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Technology">Technology</a>
  </li>
</ul>
</div>